<div id="<%= dom_id friend_rec %>">
  <p>
    <strong>First name:</strong>
    <%= friend_rec.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend_rec.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend_rec.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend_rec.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend_rec.twitter %>
  </p>

</div>
