<% if user_signed_in?%>
  <h1>Friend recs</h1>
  <div id="friend_recs">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead table-success">
        <tr>
          <th> Name </th>
          <th> Email </th>
          <th> Phone </th>
          <th> Twitter </th>
          <th  colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @friend_recs.each do |friend_rec| %>
          <% if friend_rec.user == current_user%>
            <tr>
              <td><%= link_to friend_rec.first_name + " " + friend_rec.last_name, friend_rec ,class:"link-success"%></td>

              <td><%= friend_rec.email %></td>
          
              <td><%= friend_rec.phone %></td>
          
              <td><%= friend_rec.twitter %></td>
            
              <td><%= button_to "Destroy", friend_rec, method: :delete , data: {confirm:'Are you sure?'} ,class:"btn btn-outline-danger btn-sm"%></td>
            </tr>
          <% end%>
        <% end%>
      </tbody>
    </table>
  </div>

  <%= link_to "New friend", new_friend_rec_path,class:"btn btn-secondary"%>
<% else %>
  <h1>Welcome to Friends App</h1> 
<% end%>