<div class="card text-center border-success w-50">
  <div class="card-header">
    <h2><%= @friend_rec.first_name %>
    <%= @friend_rec.last_name %></h2>
  </div>
  <div class="card-body">
    <ul class="field">
      <li class="field form-group form-control"><%= @friend_rec.email %></li><br>
      <li class="field form-group form-control"><%= @friend_rec.phone %></li><br>
      <li class="filed form-group form-control"><%= @friend_rec.twitter %></li><br>
    </ul>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_friend_rec_path(@friend_rec),class:"btn btn-secondary" %>
    <br><br>
    <%= link_to "Back", friend_recs_path ,class:"btn btn-dark"%> 
    <br><br>  
    <%= button_to "Destroy", @friend_rec, method: :delete , data: {confirm:'Are you sure?'} ,class:"btn btn-danger"%>
  </div>
</div>
